@import "tailwindcss";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-snackbar-error .mdc-snackbar__surface {
    background-color: #dc2626 !important;
    /* Tailwind's bg-red-600 */
    color: white !important;
    text-align: center;
}

.custom-snackbar-success .mdc-snackbar__surface {
    background-color: #16a34a !important; 
    color: #fff !important;
    text-align: center;
  }