<div class="p-4 w-4/5">
    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-semibold text-gray-800">Public Holiday Management</h2>

        <div class="flex gap-3">
            <button mat-stroked-button class="px-5 py-2 text-white rounded-md bg-blue-700 transition"
                (click)="onAddNew()">+ Add New</button>

            <button mat-stroked-button class="px-5 py-2 text-white rounded-md bg-green-700 transition"
                (click)="exportToExcel()">Export to Excel</button>
        </div>
    </div>

    <div class="bg-white shadow rounded-lg p-4 overflow-x-auto">
        <form [formGroup]="formGroup()">
            <div formArrayName="holidays">
                <table class="min-w-full table-auto text-sm text-left">
                    <thead class="border-b">
                        <tr>
                            <th class="px-4 py-2 font-bold text-gray-700">Holiday Name</th>
                            <th class="px-4 py-2 font-bold text-gray-700">Date</th>
                            <th class="px-4 py-2 font-bold text-gray-700">Day</th>
                            <th class="px-4 py-2 font-bold text-gray-700">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if(formArray() && formArray().length > 0) {
                        @for (ctrl of formArray().controls; let i = $index; track ctrl.value.id) {
                        <tr class="border-b" [formGroupName]="i">
                            <td class="px-4 py-2">
                                <input matInput type="text" formControlName="name"
                                    class="w-full p-2 border border-gray-300 rounded-md" />
                            </td>
                            <td class="px-4 py-2">
                                <input matInput type="date" formControlName="date"
                                    class="w-full p-2 border border-gray-300 rounded-md"
                                    (change)="onDateChange(ctrl)" />
                            </td>
                            <td class="px-4 py-2">
                                <span class="text-gray-800 font-medium">
                                    {{ ctrl.get('day')?.value }}
                                </span>
                            </td>
                            <td class="px-4 py-2 flex gap-2">

                                <button mat-stroked-button type="button"
                                    class="px-7 py-2 bg-red-600 text-white rounded hover:bg-red-700 cursor-pointer"
                                    (click)="onDelete(i, ctrl.get('id')?.value)">
                                    Delete
                                </button>
                            </td>
                        </tr>}
                        }@else
                        {
                        <tr class="border-b">
                            <td colspan="4" class="text-center py-4 text-gray-500">No holidays found</td>
                            }
                    </tbody>
                </table>
            </div>
        </form>
    </div>

</div>