<aside class="bg-blue-600">
  <div class="sidebar fixed top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-gray-900">
    <div class="text-gray-100 text-xl">
      @if (_isLoggedIn) {
      <div class="p-2.5 mt-1 flex items-center">
        <h1 class="font-bold text-gray-200 text-[15px] ml-3">Welcome {{ userName() }}</h1>
      </div>
      }
      <div class="my-2 bg-gray-600 h-[1px]"></div>
    </div>

    <!-- Always Visible -->
    <a routerLink="/dashboard">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-blue-600 text-white">
        <i class="bi bi-house-door-fill"></i>
        <span class="text-[15px] ml-4 font-bold">Home</span>
      </div>
    </a>

    <a routerLink="/calendar">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-blue-600 text-white">
        <i class="bi bi-bookmark-fill"></i>
        <span class="text-[15px] ml-4 font-bold">Calendar</span>
      </div>
    </a>

    <!-- Leave Section -->
    <div class="my-4 bg-gray-600 h-[1px]"></div>
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 text-white">
      <i class="bi bi-chat-left-text-fill"></i>
      <div class="flex justify-between w-full items-center">
        <span class="text-[15px] ml-4 font-bold">Leave</span>
        <i class="bi bi-chevron-down text-sm rotate-180"></i>
      </div>
    </div>
    <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold">
      <a routerLink="/leave-apply">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">Apply Leave</h1>
      </a>
      <a routerLink="/leave-history">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">Leave History</h1>
      </a>
      <a routerLink="/user-profile">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">My Profile</h1>
      </a>
    </div>

    <!-- Admin Panel Section -->
    @if (_isHRAdmin) {
    <div class="p-2.5 mt-3 flex items-center rounded-md px-4 text-white">
      <i class="bi bi-gear-fill"></i>
      <div class="flex justify-between w-full items-center">
        <span class="text-[15px] ml-4 font-bold">Admin Panel</span>
        <i class="bi bi-chevron-down text-sm rotate-180"></i>
      </div>
    </div>
    <div class="text-left text-sm mt-2 w-4/5 mx-auto text-gray-200 font-bold">
      <a routerLink="/leave-quota">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">Manage Leave Quota</h1>
      </a>

      <a routerLink="/report-analysis">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">Report Analysis</h1>
      </a>

      <a routerLink="/public-holiday">
        <h1 class="cursor-pointer p-2 hover:bg-blue-600 rounded-md mt-1">Public Holiday Management</h1>
      </a>
    </div>
    }

    <!-- Logout -->
    <a routerLink="/log-out">
      <div class="p-2.5 mt-3 flex items-center rounded-md px-4 hover:bg-blue-600 text-white">
        <i class="bi bi-box-arrow-in-right"></i>
        <span class="text-[15px] ml-4 font-bold">Logout</span>
      </div>
    </a>
  </div>
</aside>